In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('Tim_records.csv')
df.size

60924474

In [13]:
df.head()

,Item ID Unsuppressed,Retailer Item UPC,Model,Internal Outlet,Time Periods,Raw Units
0,100579,All Other (Suppressed),625335,Amazon B2B,May 2019,49
1,100775,All Other (Suppressed),99081,Staples Advantage,May 2020,7
2,100775,All Other (Suppressed),99081,Staples Advantage,Oct 2021,12
3,100775,All Other (Suppressed),99081,Office Depot Vert - Corp,Jun 2019,3
4,101142,All Other (Suppressed),C9152A,S.P. Richards Co.,Aug 2019,4

In [15]:
df.groupby(['Time Periods']).size()

Time Periods
Apr 2019    291777
Apr 2020    232396
Apr 2021    234844
Aug 2019    294578
Aug 2020    243707
Aug 2021    222310
Dec 2019    296082
Dec 2020    267412
Dec 2021    239481
Feb 2019    289163
Feb 2020    272398
Feb 2021    234259
Feb 2022    217090
Jan 2019    287340
Jan 2020    275134
Jan 2021    240738
Jan 2022    207926
Jul 2019    293594
Jul 2020    243967
Jul 2021    226960
Jun 2019    321999
Jun 2020    268800
Jun 2021    254387
Mar 2019    326298
Mar 2020    282095
Mar 2021    260893
Mar 2022    245819
May 2019    283518
May 2020    230008
May 2021    232451
Nov 2019    279527
Nov 2020    236570
Nov 2021    211928
Oct 2019    293933
Oct 2020    248844
Oct 2021    224347
Sep 2019    317129
Sep 2020    270876
Sep 2021    253501
dtype: int64

In [22]:
df.groupby(['Time Periods'])['Item ID Unsuppressed'].nunique()

Time Periods
Apr 2019    141066
Apr 2020    117046
Apr 2021    118700
Aug 2019    142043
Aug 2020    120216
Aug 2021    113220
Dec 2019    144447
Dec 2020    134782
Dec 2021    125963
Feb 2019    136930
Feb 2020    127537
Feb 2021    117693
Feb 2022    111177
Jan 2019    134810
Jan 2020    129319
Jan 2021    119076
Jan 2022    106458
Jul 2019    141388
Jul 2020    121942
Jul 2021    116324
Jun 2019    154862
Jun 2020    134451
Jun 2021    128637
Mar 2019    154929
Mar 2020    134443
Mar 2021    130505
Mar 2022    125325
May 2019    138257
May 2020    115647
May 2021    117214
Nov 2019    134637
Nov 2020    118004
Nov 2021    110165
Oct 2019    141061
Oct 2020    123876
Oct 2021    116283
Sep 2019    151401
Sep 2020    133811
Sep 2021    130428
Name: Item ID Unsuppressed, dtype: int64

In [17]:
df2 = pd.read_csv('Tim_record_office.csv')
df2.size

27956166

In [18]:
df2.head()

,Time Periods,Item ID Unsuppressed,Retailer Item UPC,Model,Internal Outlet,Raw Units
0,Jan 2019,107705,All Other (Suppressed),05203,Staples Advantage,489
1,Jan 2019,107736,All Other (Suppressed),5315,Staples Advantage,208
2,Jan 2019,107760,All Other (Suppressed),5260,Office Depot - corp,2093
3,Jan 2019,107952,All Other (Suppressed),06571,Staples Advantage,2
4,Jan 2019,109781,All Other (Suppressed),82361,quill.com,73

In [19]:
df2.groupby(['Time Periods']).size()

Time Periods
Apr 2019    118474
Apr 2020    102044
Apr 2021    117738
Aug 2019    124222
Aug 2020    117339
Aug 2021    120839
Dec 2019    125450
Dec 2020    116931
Dec 2021    118128
Feb 2019    119537
Feb 2020    121703
Feb 2021    116869
Feb 2022    115004
Jan 2019    122357
Jan 2020    125511
Jan 2021    118852
Jan 2022    115882
Jul 2019    122483
Jul 2020    113147
Jul 2021    117892
Jun 2019    127493
Jun 2020    115096
Jun 2021    121434
Mar 2019    123582
Mar 2020    118989
Mar 2021    123120
Mar 2022    118754
May 2019    116336
May 2020    107502
May 2021    117526
Nov 2019    124486
Nov 2020    114819
Nov 2021    116655
Oct 2019    127857
Oct 2020    117869
Oct 2021    118413
Sep 2019    132502
Sep 2020    122235
Sep 2021    124291
dtype: int64

In [23]:
df2.groupby(['Time Periods'])['Item ID Unsuppressed'].nunique()

Time Periods
Apr 2019    60607
Apr 2020    51420
Apr 2021    56734
Aug 2019    61088
Aug 2020    57157
Aug 2021    57340
Dec 2019    60936
Dec 2020    57710
Dec 2021    56597
Feb 2019    60580
Feb 2020    59793
Feb 2021    56698
Feb 2022    54987
Jan 2019    61625
Jan 2020    60716
Jan 2021    57472
Jan 2022    55428
Jul 2019    59997
Jul 2020    55176
Jul 2021    56358
Jun 2019    62206
Jun 2020    56249
Jun 2021    58106
Mar 2019    62540
Mar 2020    58483
Mar 2021    58888
Mar 2022    56332
May 2019    59859
May 2020    53886
May 2021    56769
Nov 2019    60639
Nov 2020    56727
Nov 2021    56099
Oct 2019    61361
Oct 2020    57463
Oct 2021    56504
Sep 2019    63296
Sep 2020    59180
Sep 2021    58741
Name: Item ID Unsuppressed, dtype: int64